/* Global */
body {
    background-color:#262b54;
    color: #fff;
}

/* Displaying different sections */
/* Instructions */
#instructions h3, #startgame {
    text-align: center;
}

#instructions ul li {
    margin: 5px 0;
}

#start-game-btn {
    padding: 5px 10px;
    font-size: 1.2em;
    font-weight: 600;
}

/* Play screen */
#playscreen, #question-section {
    display: none;
}

/* Title & Score display section */
.title h1 {
    text-align: center;
}

#score {
    text-align: center;
    font-size: 3em;
    margin: 20px 0;
}

#categories, #question-section {
    flex: 1;
}

/* Categories display section */
#categories {
    display: flex;
}

.column {
    flex: 1;
    border: 1px solid #000;
}

.column h3 {
    text-align: center;
}

.column button {
    margin: auto;
}

.value-btn {
    display: block;
    margin-bottom: 10px !important;
    font-size: 1.3em;
    font-weight: bold;
    background-color: rgb(29, 29, 196);
    color: white;
}

.value-btn:disabled {
    background-color: gray;
    color: lightgray;
}

/* Question & answers display section */
#question-section {
    text-align: center;
    position: relative;
}

#timer {
    height: 50px;
    margin-top: 30px;
}

#timer h1 {
    margin: 0;
    font-size: 3em;
}

#question h3, #displayMsg {
    font-size: 2em;
    font-weight: bold;
}

#answerChoices {
    display: flex;
    flex-wrap: wrap;
}

#answerChoices button {
    font-size: 1.3em;
    margin: 10px 20px;
    flex: 1;
    /* min-width: 35%; */
    padding: 5px 0;
}

#questionsRemain {
    text-align: center;
    bottom: 0;
    width: 100%;
}

.correct {
    color: #60e06b;
}

.wrong {
    color: #d44e4e;
}

/* Next Question Button */
.nextQuestion-btn {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
}

/* Reset Button */
.resetBtn {
    background-color: orange;
    padding: 10px 20px;
    font-size: 1.3em;
    font-weight: bold;
}

/* Media Queries */
@media only screen and (max-width: 425px) {
    #answerChoices button {
        min-width: 35%;
    }
}

@media only screen and (min-width: 426px) {
    #instructions {
        width: 75%;
        margin: auto;
    }
}

@media only screen and (min-width: 769px) {
    #instructions {
        width: 50%;
    }
}